<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Audit Management Portal</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" >Audit Management Portal
					</a>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				

				<h1>Project Details</h1>
                  <br>
                  <br>
				<form action="#" th:action="@{/submit/second}" method="post" th:object="${details}">
					<div class="form-group">
						<label class="control-label" for="firstName"> Project Name </label>
						<input type="text" th:field="*{projectName}"  id="firstName" class="form-control" 
							required autofocus="autofocus" />
					</div>
                     <br>
					<div class="form-group">
						<label class="control-label" for="lastName"> Project Manager Name </label> <input type="text" th:field="*{managerName}"
							id="lastName" class="form-control" 
							required autofocus="autofocus" />
					</div>
                    <br>
					<div class="form-group">
						<label class="control-label" for="email"> Application Name </label> <input type="text" th:field="*{applicationName}"
							id="email" class="form-control"  required
							autofocus="autofocus" />
					</div>

					<br>
					<h3>Audit type</h3>
					<br>
					<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Internal
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    SOX
  </label>
</div>

<br>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Submit</button>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>